@page

@{
	ViewData["Title"] = "Home";
}


<div class="jumbotron bg-dark text-light p-5 m-3 rounded shadow">

	<h1 class="display-4">Welcome to Geolocation Website</h1>
	<p>This would be useful thing for functionality web that need the location to perform some action</p>
	<br />
	<p>Let start with us Now</p>

</div>