@page
@model IdentityServerAspNetIdentity.Pages.EmailConfirmation.IndexModel
@{
    ViewData["Title"] = "EmailConfirmation";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>@ViewData["Message"]</p>
</div>