@page
@model ConfirmationEmail.ConfirmationEmailModel
@{
    ViewData["Title"] = "ConfirmationEmail";
}


<div class="my-5 p-5">
    <h1>Confirmation email</h1>
    <p class="text-large text-muted">@ViewData["Message"]</p>
</div>