

@{
    ViewData["Title"] = "Login";
    string returnUrl = ViewData["existsUrl"] as string;
}



<div class="row w-100 justify-content-center">
    <div class="col-10 col-sm-10 col-md-8 col-lg-6 shadow-sm rounded p-5">
        <h2>Sign in</h2>
        <form action="/validation?returnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)"
              method="post">
            <div class="form-group">
                <input type="text" name="id" placeholder="ID / Email address" class="form-control"/>
                <input type="password" name="password" placeholder="Password" class="form-control"/>
            </div>
            <input type="submit" class="btn btn-success" />
        </form>

    </div>
</div>

