@page
@model MQTT_WebClient.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">MQTT webapp</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="m-5">
    <p class="display-5">Publish new message here</p>
    <form method="post">
        <input type="text" class="form-control" name="message"/>
        <button type="submit" class="btn btn-danger">Send</button>
    </form>

</div>