body {
    margin:0px;
    padding:0px;
}

span {
    font-size: 20px;
}

.spanLarge {
    font-size: 26px;
}

.spanTitle {
    font-weight:700;
    font-size:32px;
}

.displayInfo {

    font-size:34px;
    font-weight:800;

}